/*body {
  background-image: url(http://i.imgur.com/gzgkuun.jpg) no-repeat center center fixed;
  background-size: cover; 
  /*background-repeat: no-repeat;
}*/

body {
    margin-top: 50px;
    margin-bottom: 50px;
    background: none;
}

.full {
  background: url(http://i.imgur.com/gzgkuun.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.heading {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 400%;
}

#welcome-div {
  text-align: center;
}

.panel {
  margin-top: 40px;
  background-color: rgba(176,176,176,0.9);
  border-color: transparent;
}